# Queries to check records in the database

In [5]:
%load_ext sql

In [7]:
%sql postgresql://bro:n9l1b8r1p@127.0.0.1/sparkifydb

'Connected: bro@sparkifydb'

In [8]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://bro:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOGXHEG12AB018653E', 'It Makes No Difference Now', 'AR0RCMP1187FB3F427', 1992, 133.32854),
 ('SOZQDIU12A58A7BCF6', 'Superconfidential', 'ARNTLGG11E2835DDB9', 0, 338.31137),
 ('SOPSWQW12A6D4F8781', 'Made Like This (Live)', 'ARGIWFO1187B9B55B7', 0, 225.0967),
 ('SOYTPEP12AB0180E7B', 'Twist and Shout', 'ARAJPHH1187FB5566A', 1964, 164.80608),
 ('SOGOSOV12AF72A285E', '¿Dónde va Chichi?', 'ARGUVEV1187B98BA17', 1997, 313.12933)]

In [10]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://bro:***@127.0.0.1/sparkifydb
5 rows affected.

[('AR0RCMP1187FB3F427', 'Billie Jo Spears', 'Beaumont, TX', 30.08615, -94.10158),
 ('ARNTLGG11E2835DDB9', 'Clp', '', None, None),
 ('ARGIWFO1187B9B55B7', 'Five Bolt Main', '', None, None),
 ('ARAJPHH1187FB5566A', 'The Shangri-Las', 'Queens, NY', 40.7038, -73.83168),
 ('ARGUVEV1187B98BA17', 'Sierra Maestra', '', None, None)]

In [11]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://bro:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [12]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://bro:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [13]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://bro:***@127.0.0.1/sparkifydb
0 rows affected.

[]