# Queries to check records in the database

In [1]:
%load_ext sql

In [2]:
%sql postgresql://bro:n9l1b8r1p@127.0.0.1/sparkifydb

'Connected: bro@sparkifydb'

In [8]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://bro:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOGXHEG12AB018653E', 'It Makes No Difference Now', 'AR0RCMP1187FB3F427', 1992, 133.32854),
 ('SOZQDIU12A58A7BCF6', 'Superconfidential', 'ARNTLGG11E2835DDB9', 0, 338.31137),
 ('SOPSWQW12A6D4F8781', 'Made Like This (Live)', 'ARGIWFO1187B9B55B7', 0, 225.0967),
 ('SOYTPEP12AB0180E7B', 'Twist and Shout', 'ARAJPHH1187FB5566A', 1964, 164.80608),
 ('SOGOSOV12AF72A285E', '¿Dónde va Chichi?', 'ARGUVEV1187B98BA17', 1997, 313.12933)]

In [10]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://bro:***@127.0.0.1/sparkifydb
5 rows affected.

[('AR0RCMP1187FB3F427', 'Billie Jo Spears', 'Beaumont, TX', 30.08615, -94.10158),
 ('ARNTLGG11E2835DDB9', 'Clp', '', None, None),
 ('ARGIWFO1187B9B55B7', 'Five Bolt Main', '', None, None),
 ('ARAJPHH1187FB5566A', 'The Shangri-Las', 'Queens, NY', 40.7038, -73.83168),
 ('ARGUVEV1187B98BA17', 'Sierra Maestra', '', None, None)]

In [6]:
%sql SELECT count(*) FROM users;

 * postgresql://bro:***@127.0.0.1/sparkifydb
1 rows affected.

[(76,)]

In [12]:
%sql SELECT count(*) FROM time ;

 * postgresql://bro:***@127.0.0.1/sparkifydb
1 rows affected.

[(6813,)]

In [11]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://bro:***@127.0.0.1/sparkifydb
5 rows affected.

[(0, datetime.datetime(2018, 11, 4, 1, 15, 55, 796000), 52, 'free', None, None, 154, 'Houston-The Woodlands-Sugar Land, TX', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (1, datetime.datetime(2018, 11, 4, 1, 50, 3, 796000), 99, 'free', None, None, 124, 'Salt Lake City, UT', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (2, datetime.datetime(2018, 11, 4, 3, 37, 13, 796000), 43, 'free', None, None, 42, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (3, datetime.datetime(2018, 11, 4, 3, 54, 52, 796000), 43, 'free', None, None, 42, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (4, datetime.datetime(2018, 11, 4, 3, 58, 57, 796000), 43, 'free', None, None, 42, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [ ]:
%sql DELETE from